.board{
    display: flex;
    flex-wrap: wrap;
    width: 520px;
}
.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-controller{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.mr-5{
    margin-right: 5em;
}